:root {
    /*var*/
    --light-green: rgb(133, 144, 109);
    --white: white;
    --black: rgba(0, 0, 0, 0.84);
    --green: rgb(12, 121, 12);
}
body {
    font-family:sans-serif;
    line-height: 150%;
    max-width: 100%;
    max-height: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: var(--black);
    color: var(--white);
}

header h1 {
    /* background-color: rgb(19, 93, 97); */
    /* justify-content: flex-end;  */
    font-size: 200%;
    /* background-color:rgb(13, 87, 36); */
    /* padding: 2px; */

}

.navbar-head{
    list-style-type: none;
    justify-content: space-between;
    /* margin: 0;
    padding: 0; */
    text-align: center;
    /*font*/
}
.navbar-head li{
    display: inline-block;
    padding: 20px;
}

.navbar-head a {
    /*specifications for navbar selector*/
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;

}
/*navbar modications */
.navbar-head a:hover {
    /*when hovering over underline*/
    text-decoration: underline;
    display: block;
    background-color: rgb(133, 144, 109);
}

.banner {
   background-image:
   url(https://sanjuan.objects.liquidweb.services/photos/82505-agritourism-farms-vineyards-etc-farms-barns-lopez-island-farms-jones-family-farms-jones_fam_14hd34-1200x630.jpg);
   padding: 40px;
   display: flex;
   justify-content: flex-end;
   /*look up background no repeat so image doesn't repeat*/
}

.banner h1 {
    /* want to get welcome to my work profile at end
    display: flex-end; */
    background-color: rgba(0, 0, 0, 0.84);
    border-style: groove;
    margin-left: inherit; 
    color: white
}
main {
    background: var(--light-green);
    /*allows for other flex properties*/
    /*flex-wrap used so everything is on page no matter screen size */
    /* display: flex;
    flex-wrap: wrap; */
    color: white;

}
/*Need to fix*/
.section-one {
    background-color: rgb(133, 144, 109);
    padding: 1%;
    margin: 2% 4% 1%;
    display: flex;
    /* justify-content: space-between; */

}

.section-one h1 {
    background-color: rgb(133, 144, 109);
    /* justify-content: flex-end; */
    font-size: 150%;
    border-style: solid;
    padding: 2%;
    /* margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
    margin-bottom: 4%; */

}

.section-one p {
    /* justify-content: flex-end;; */
    /*need to make paragraphs one after another */
    text-align: center;
    padding: 2%;
    /* display: inline; */

}
/* br {
    line-height: 150%;
} */
.section-two {
    display: flex;
    /* flex: wrap; */
    background-color: rgb(133, 144, 109);
    /* justify-content: space-between; */
    /* border-style: solid; */
    /* align-items: center; */
    padding: 1%;
    margin: 2% 4% 1%;
}

.work-header {
    padding: 2%;
    border-style: solid;
}

.section-two h1 {
    background-color: rgb(133, 144, 109);
    /* justify-content: flex-end;  */
    font-size: 150%;
    padding: 2%;
}

.image-container {
    /* flex: 4; */
    display: flex;
    flex-wrap: wrap;
    /* flex: 1  33%; */
    /* justify-content: center; */

}

.container {
    padding: 5px;
    /* margin-bottom: 1%; */
    position: relative;
}

.container-inner {
    background: rgb(124, 109, 144);
    /* border-style: groove; */
    display: flex column; 
    position: absolute;
    top: 50px;
    color: white;
}
.surf-report {
    border: white groove 10px;
    height:400px;
}
.container-inner h1 {
    border: white solid 10px;
    background-color: aliceblue;
}

/* .container-inner img {
    width: 100%;
} */

.section-three {
    display: flex;
    background-color: rgb(133, 144, 109);
    /* justify-content: space-between; */
    /* border-style: solid; */
    /* align-items: center; */
    padding: 1%;
    margin: 2% 4% 1%;
    justify-content: space-between;
    /* align-items: center; */
}

.section-three h1 {
    background-color: rgb(133, 144, 109);
    /* justify-content: flex-end; */
    font-size: 150%;
    border-style: solid;
    padding: 2% 
}

.navbar-s3{
    list-style-type: none;
    justify-content: space-between;
    /* margin: 0;
    padding: 0; */
    text-align: center;
    /*font*/
}
.navbar-s3 li{
    display: inline-block;
    padding: 20px;
}

.navbar-s3 a {
    /*specifications for navbar selector*/
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}
/*use media queries to display content on page based on screen size*/
@media screen and (max-width: 991px) {
    .container {
        /*when tablet size image size stays same*/
        flex-basis: 50%;
    }
    /* .banner h1 {
        margin-left: 500px;
    } */
}

@media screen and (max-width: 575px) {
    .container {
        /*when tablet size image size stays same*/
        flex-basis: 100%;
    }
    .banner {
        justify-content: center;
    }
}

footer {
    background: var(--black);
    padding: 2rem;
}